@font-face {
    font-family: thriller;
    src: url(StrangerCreature-MVpBr.ttf);
}
@font-face {
    font-family: horror;
    src: url(NightmarePills-BV2w.ttf);
}
@font-face{
    font-family: spooky;
    src: url(ScareArms-Lxj4.ttf);
}

@font-face{
  font-family: halloween;
  src: url(Halloween.ttf);
}

.titleBox{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    margin: 50px;
    padding: 20px;
}

.spook{
  display: flex;
  justify-content: center;
  animation-name: boo;
  animation-delay: 1s;
  animation-duration: 2s;
  background-image: url("heres.jpg");
}

@keyframes boo{
  0% {opacity: 0;}
  100% {opacity:1;}
}

body{
    background-image: url("shining.jpeg");
    background-color: black;
}
.container1{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 10px;
    text-align: center;
    z-index: -1;
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 10px;
    text-align: center;
    z-index: -1;
}

.box1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  color: #E56745;
  font-family: thriller;
  background-color: black;
  z-index: -1;
}

.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  color: #E56745;
  font-family: horror;
  background-color: black;
  z-index: -1;
}

.box3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  color: #BA1829 ;
  font-family: spooky;
  background-color: black;
  z-index: -1;
}

.box4{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  color: #BA1829;
  font-family: spooky;
  z-index: -1;
}

.box5{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  color: #BA1829 ;
  font-family: spooky;
  z-index: -1;
}

.box6{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  background-color: black;
  font-family: halloween;
  color: #BA1829 ;
  z-index: -1;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}
