@font-face {
    font-family: thriller;
    src: url(StrangerCreature-MVpBr.ttf);
}
@font-face {
    font-family: horror;
    src: url(NightmarePills-BV2w.ttf);
}
@font-face{
    font-family: spooky;
    src: url(ScareArms-Lxj4.ttf);
}

@font-face{
  font-family: halloween;
  src: url(Halloween.ttf);
}

.titleBox{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    margin: 50px;
    padding: 20px;
<<<<<<< HEAD
    z-index: -1;
    position: relative;
}
=======
}


>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f

body{
    background-image: url("shining.jpeg");
    background-color: black;
}
.container1{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 10px;
    text-align: center;
<<<<<<< HEAD
    position: relative;
    
=======

>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 10px;
    text-align: center;
<<<<<<< HEAD
    position: relative;
=======

>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
}

.box1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
<<<<<<< HEAD
  color: #dc5a24;
=======
  color: #e67a4c;
>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
  font-family: thriller;
  background-color: black;

}

.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
<<<<<<< HEAD
  color:#dc5a24;
=======
  color: #e67a4c;
>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
  font-family: horror;
  background-color: black;

}

.box3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
<<<<<<< HEAD
  font-family: spooky;
  background-color: black;
=======
  color: #e67a4c ;
  font-family: spooky;
  background-color: black;

>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
}

.box4{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  font-family: spooky;
<<<<<<< HEAD
  background-color: black;
=======

>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
}

.box5{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  font-family: spooky;
<<<<<<< HEAD
  background-color: black;
  color: #77191d ;
=======

>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f
}

.box6{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 3em;
  background-color: black;
  font-family: halloween;
<<<<<<< HEAD
  color: #77191d ;
=======
  color: #BA1829 ;
>>>>>>> 8f5fd5884d68dc35c4bae226e9761f8e013aed6f

}

a:link{
    text-decoration: none;
    color: #dc5a24;
}

a:visited {
    text-decoration: none;
    color: #dc5a24;
}

a:hover {
    text-decoration: none;
    color:#77191d;
}

.box1:hover{
  background-image: url("climax.jpg");
  background-size: cover;

}
.box2:hover{
  background-image: url("freddy.jpg");
  background-size: cover;

}

.box3:hover{
  background-image: url("spookyMoon.jpg");
  background-size: contain;
}

.box4:hover{
  background-image: url("spookyHouse.jpg");
  background-size: contain;
}

.box5:hover{
  background-image: url("spookyForest.jpg");
  background-size: contain;
}

a:active {
    text-decoration: none;
    color: #77191d;
}

a.button3{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: halloween;
  font-size: 30px;
  font-weight:300;
  color:#000000;
  background-color:#dc5a24;
  text-align:center;
  transition: all 0.2s;
  }
  a.button3:hover{
  background-color:#77191d;
  }
  @media all and (max-width:30em){
   a.button3{
      display:block;
      margin:0.2em auto; 
    }
  }

 .spook{
    display: flex;
    justify-content: center;
    animation-name: boo;
    animation-delay: 3s;
    animation-duration: .5s;
    opacity: 0;
    animation-timing-function: ease;
  }
  @keyframes boo{
    0% {top: 0px; opacity: 0;}
    50% {top: 50px; opacity:1;}
    100% {top: 100px; opacity:0;}
  }
  